.container-stats {
    text-align: left;
    background-color: #2c3338;
    margin: 10px;
}

.container-stats h1,
p {
    color: white;
}

.container-stats h1 {
    margin-bottom: 20px;
}

@media (max-width:325px) {
    .container-stats.match .row {
        margin: 5px !important;
    }
    .container-stats.match h5 {
        font-size: 1em;
    }
}

.container-stats.match h5 {
    text-align: center;
    color: white;
}

.container-stats.match .row {
    margin: 10px;
}

.input-group {
    margin: 10px;
}

#input-label {
    background-color: #363b41;
    color: #e7e7e7;
}

input.form-control {
    background-color: #3b4148;
    color: white;
    border: none;
    z-index: 0;
}

input.form-control::placeholder {
    color: #e7e7e7;
}

input.form-control:hover {
    background-color: #434a52;
    border: none;
    color: white;
}

input.form-control:focus {
    background-color: #434a52;
    border: none;
    color: white;
}

input.form-control:active {
    background-color: #434a52;
    border: none;
    color: white;
}

hr {
    background-color: hsl(352, 92%, 31%);
}

button.dropdown-toggle {
    background-color: #363b41;
    color: #e7e7e7;
    border-color: #363b41;
    box-shadow: none;
}

div.dropdown-menu>.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3b4148;
    box-shadow: none;
}

#squad-type-selection {
    display: inline-block;
}

#squad-type-selection>button {
    background-color: white;
    color: hsl(352, 92%, 31%);
    border-radius: 10px;
    margin: 5px;
    border: 2px solid hsl(352, 92%, 31%);
}

#squad-type-selection>button:active {
    background-color: hsl(352, 92%, 31%);
    color: white;
}

#squad-type-selection>button:focus {
    box-shadow: none;
}

#squad-type-selection>button.active {
    background-color: hsl(352, 92%, 31%);
    color: white;
    border: 2px solid hsl(352, 92%, 31%);
    box-shadow: none;
}

#stats-input {
    background-color: #2c3338;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #434a52;
}

#stats-input:hover {
    border-bottom: 2px solid hsl(352, 92%, 31%);
}

input.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: hsl(216, 2%, 46%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

#stats-input:focus {
    border-bottom: 2px solid hsl(352, 92%, 31%);
}

#stats-input.is-invalid {
    border: 2px solid hsl(352, 92%, 31%) !important;
}

#stats-input.is-valid:focus {
    box-shadow: none;
}

#stats-input.is-invalid:focus {
    box-shadow: none;
}

button.back-btn {
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.75rem;
}

button.back-btn:focus,
button.back-btn:active {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
}

button.back-btn:hover {
    border: 1px solid white;
    background-color: transparent;
}

button.save-btn {
    background-color: hsl(352, 92%, 31%);
    border: none;
    margin: 28px;
}

textarea.general-notes {
    background-color: #3b4148;
    color: white;
    border: none;
}

textarea.general-notes:focus,
textarea.general-notes:active {
    background-color: #434a52;
    border: none;
    color: white;
}

.modal p {
    color: black;
}